- form_for [:experiment, @result], :url => experiment_response_path(@participant, @result.display_order), :html => { :method => :put } do |f|

  - div_for @result.stem do
    #singular_col.item_text{ :data_sound => @result.stem.singular }
      This is a 
      %span.item_strong#singular= @result.stem.singular
      %br
      = image_tag @result.clipart.singular_file, :width => "75"
    
    #plural_col.item_text{ :data_sound => @result.stem.plural }
      These are 
      - if (@result.experiment_phase == 'testing') || (@result.experiment_phase == 'training_test')
        = f.text_field :response
      - else
        %span.item_strong#plural= @result.stem.plural
      %br
      = (image_tag @result.clipart.plural_file, :width => "75", :class => "plural_img") * 3
  %fieldset.continue
    %span.phase= @result.experiment_phase.capitalize
    %fieldset.submit= submit_tag "Next &raquo;"