- div_for paradigm do 
  
  %dl
    %dt Singular
    %dd= paradigm.singular

    %dt Plural
    %dd= paradigm.plural
    
    %dt Human Singular
    %dd= paradigm.human_singular

    %dt Human Plural
    %dd= paradigm.human_plural

  = link_to 'edit paradigm', edit_paradigm_url(paradigm)