- div_for paradigm do 
  
  %dl
    %dt Singular
    %dd= paradigm.singular

    %dt Plural
    %dd= paradigm.plural
    
    %dt Spelled Singular
    %dd= paradigm.spelled_singular

    %dt Spelled Plural
    %dd= paradigm.spelled_plural

  = link_to 'edit paradigm', edit_paradigm_url(paradigm)