%h2 Participant #{ @participant.code }
#code
  %p
    Status:
    %strong
      - if @participant.experiment_position > @participant.results.length
        = "finished"
      - else
        = "Completed #{@participant.experiment_position}/#{@participant.results.length}"
  %p    
    Perception:
    %strong= @participant.perception

.analytics
  %h3 Analytics
  %p= "Correct plurals: #{ @participant.correct_plurals.length } / #{ @participant.select_results(:testing).length }"

- [:testing, :learning, :training_test].each do |phase|
  %h3
    #{phase.to_s.humanize} items
    %span.toggle_results{ 'data-phase' => phase } (show/hide)
  %ul.phase_items{ :id => phase }
    - @participant.select_results(phase).each do |result|
      = render 'result', :result => result