- form_for [:experiment, @result], :url => experiment_trials_path(@participant), :html => { :method => :put } do |f|

  - div_for @result.paradigm do
    #singular_col.item_text
      This is a 
      %span.item_strong#singular{ 'data-soundFile' => @result.paradigm.singular_sound_file }= @result.paradigm.singular
      %br
      = image_tag @result.clipart.singular_file, :width => "150"
    
    #plural_col.item_text
      These are 
      - if (@result.experiment_phase == 'testing') || (@result.experiment_phase == 'training_test')
        = f.text_field :response
      - else
        %span.item_strong#plural{ 'data-soundFile' => @result.paradigm.plural_sound_file }= @result.paradigm.plural
      %br
      = (image_tag @result.clipart.plural_file, :width => "50", :class => "plural_img") * 3
      %br
      = (image_tag @result.clipart.plural_file, :width => "50", :class => "plural_img") * 2
  %fieldset.continue
    /%span.phase= @result.experiment_phase.humanize
    = render 'progress', :participant => @participant
    %fieldset.submit= submit_tag "Next &raquo;", :disabled => true