- form_for [:experiment, @result], :url => experiment_path(@participant), :html => { :method => :put, :class => "ajax_submit" } do |f|
  = f.hidden_field :id
  = f.hidden_field :singular_play_count
  = f.hidden_field :plural_play_count
  - div_for @result.paradigm do
    #singular_col.item_text
      This is a
      / - if @result.both_responses && (@result.experiment_phase == 'learning')
      /   = f.text_field :singular_response, :class => 'paradigm_sound singular', :id => @result.paradigm.singular, 'data-soundFile' => @result.paradigm.singular_sound_file
      /   = play_again(@result, :singular)
      /   #show_plural.paradigm_instructions
      /     Enter the word you just heard, then
      /     %br
      /     %span.linkish click to continue
      /   .true_spelling{ 'data-spelling' => @result.paradigm.human_singular }
      /     .correct Correct!
      /     .incorrect Not exactly...
      /     The martian spelling of this word is
      /     %strong #{ @result.paradigm.human_singular }
      - if (@result.experiment_phase == 'testing') && @result.both_responses
        %span.paradigm_sound.singular{ 'data-soundFile' => @result.paradigm.singular_sound_file, :id => @result.paradigm.singular } ________
        = play_again(@result, :singular)
      - else
        %span.paradigm_sound.singular{ 'data-soundFile' => @result.paradigm.singular_sound_file, :id => @result.paradigm.singular }= @result.paradigm.human_singular
        = play_again(@result, :singular)
      %br
      = image_tag @result.clipart.singular_file, :width => "150"
    
    #plural_col.item_text
      These are
      - if (@result.experiment_phase == 'testing') || (@result.experiment_phase == 'training_test')
        = f.text_field :plural_response
        #show_next.paradigm_instructions
          Enter this word's plural, then
          %br
          press enter to continue.
      - elsif @result.both_responses && (@result.experiment_phase == 'learning')
        = f.text_field :plural_response, :class => 'paradigm_sound plural', :id => @result.paradigm.plural, 'data-soundFile' => @result.paradigm.plural_sound_file
        = play_again(@result, :plural)
        #show_spelling.paradigm_instructions
          Enter the word you just heard, then
          %br
          %span.linkish click to continue
        .true_spelling{ 'data-spelling' => @result.paradigm.human_plural }
          .correct Correct!
          .incorrect Not exactly...
          The martian spelling of this word is
          %strong #{ @result.paradigm.human_plural }
          %br
          Click 'next' or press enter to continue         
    
      - else
        %span.paradigm_sound.plural{ 'data-soundFile' => @result.paradigm.plural_sound_file, :id => @result.paradigm.plural }= @result.paradigm.human_plural
        = play_again(@result, :plural)
      %br
      = (image_tag @result.clipart.plural_file, :width => "50", :class => "plural_img") * 3
      %br
      = (image_tag @result.clipart.plural_file, :width => "50", :class => "plural_img") * 2
  %fieldset.continue
    /%span.phase= @result.experiment_phase.humanize
    = render 'progress', :participant => @participant
    %fieldset.submit= submit_tag "Next &raquo;", :disabled => true