
#intro
  %h2 Learn Martian in 3 easy steps!

  - form_for @participant, :url => experiments_url, :html => { :class => "new_participant ajax_submit" } do |f|
    
    %ol
      %li
        %p Put headphones on and play the test sound.
    
        .intro_inputs
          %strong Listen to a test word:
          %span#volume_test Play
      
          %fieldset.perception
            = f.label :experiment, "The test word... ", :class => "strong"
            %ul#perception_test
              %li
                = radio_button(:participant, :perception, :p)
                = f.label(:p, 'ends with a "p" sound')
              %li
                = radio_button(:participant, :perception, :t)
                = f.label(:t, 'ends with a "t" sound')

      %li
        %p Copy this code and paste it in your task:
  
        .intro_inputs
          %fieldset.name
            %label.strong Your ID:
            %span.static_form_field= @participant.code
            = f.hidden_field :code
          %fieldset.experiment_type{ :style => "display: #{@participant.experiment_type.nil? ? 'block' : 'none'};" }
            = f.label :experiment, "Experiment type: ", :class => "strong"
            = radio_button(:participant, :experiment_type, :variable)
            = f.label(:variable, "Variable")
            = radio_button(:participant, :experiment_type, :fixed)
            = f.label(:fixed, "Fixed")

      %li
        %p Get going!

        .intro_inputs
          %fieldset.submit= submit_tag "Continue &raquo;", :disabled => 'disabled'