%h2 Participant #{ @participant.id } (#{ @participant.name })
#code Code: #{ @participant.code }

%ul
  %h3 Training items
  - @participant.select_items(:training).each do |item|
    = render 'result', :item => item
    
%ul
  %h3 Learning items
  - @participant.select_items(:learning).each do |item|
    = render 'result', :item => item
    
%ul
  %h3 Testing items
  - @participant.select_items(:testing).each do |item|
    = render 'result', :item => item