- form_for [:experiment, @result], :url => experiment_path(@participant), :html => { :method => :put, :class => "ajax_submit" } do |f|
  = f.hidden_field :id
  = f.hidden_field :singular_play_count
  = f.hidden_field :plural_play_count
  - div_for @result.paradigm do
    #singular_col.item_text
      = image_tag @result.clipart.singular_file, :width => "200"
      %br
      זה
      - if (@result.experiment_phase == 'testing') && @result.both_responses
        %span.paradigm_sound.singular{ 'data-soundFile' => @result.paradigm.singular_sound_file, 'data-id' => @result.paradigm.singular } ________
        נחמד
        = play_again(@result, :singular)
      - else
        %span.paradigm_sound.singular{ 'data-soundFile' => @result.paradigm.singular_sound_file, 'data-id' => @result.paradigm.singular }= @result.paradigm.human_singular
        נחמד אחד
        = play_again(@result, :singular)
    
    #plural_col.item_text
      = (image_tag @result.clipart.plural_file, :width => "200", :class => "plural_img")
      %br
      אלה שני
      - if (@result.experiment_phase == 'testing') || (@result.experiment_phase == 'training_test')
        = f.text_field :plural_response
        נחמדים
        #show_next.paradigm_instructions
          עכשיו תגידו לנו אתם מהי צורת הרבים
      - elsif @result.both_responses && (@result.experiment_phase == 'learning')
        = f.text_field :plural_response, :class => 'paradigm_sound plural', 'data-id' => @result.plural, 'data-soundFile' => @result.plural_sound_file, :disabled => 'disabled'
        נחמדים
        = play_again(@result, :plural)
        #show_spelling.paradigm_instructions
          הקלד את צורת הרבים ששמעת,
          %br
          ולחץ
          %span.linkish להמשך
        .true_spelling{ 'data-spelling' => @result.human_plural }
          .correct נכון!
          .incorrect לא בדיוק...
          בחייזרית כותבים את המילה הזאת ככה:
          %strong #{ @result.human_plural }
          %br
          הקישו אנטר או לחצו על כפתור 'הדף הבא' להמשך
      - else
        %span.paradigm_sound.plural{ 'data-soundFile' => @result.plural_sound_file, 'data-id' => @result.plural }= @result.human_plural
        נחמדים
        = play_again(@result, :plural)
  %fieldset.continue
    = render 'hebrew/progress', :participant => @participant
    %fieldset.submit= submit_tag "לדף הבא &raquo;", :disabled => true