
#intro
  %h2 Learn Martian in 3 easy steps IN HEBREW!

  - form_for @participant, :url => experiments_url, :html => { :class => "new_participant ajax_submit" } do |f|
    
    %ol
      %li
        %p Put headphones on and play the test sound.
    
        .intro_inputs
          %strong Listen to a test word:
          %span#volume_test.linkish Play
      
          %fieldset.perception
            = f.label :experiment, "And try spelling it: ", :class => "strong"
            = f.text_field :perception

      %li
        %p Copy this code and paste it in your task:
  
        .intro_inputs
          %fieldset.name
            %label.strong Your ID:
            %span.static_form_field= @participant.code
            = f.hidden_field :code
          %fieldset.experiment_type{ :style => "display: #{@participant.experiment_type.nil? ? 'block' : 'none'};" }
            = f.label :experiment, "Experiment type: ", :class => "strong"
            = radio_button(:participant, :experiment_type, :variable)
            = f.label(:variable, "Variable")
            = radio_button(:participant, :experiment_type, :fixed)
            = f.label(:fixed, "Fixed")
            = radio_button(:participant, :experiment_type, :hebrew)
            = f.label(:hebrew, "Hebrew")

      %li
        %p Get going!
      
      %li
        %p Imagine that this entire page is in Hebrew!

        .intro_inputs
          %fieldset.submit= submit_tag "Continue &raquo;", :disabled => 'disabled'