
#intro
  %h2 ברוכים הבאים לשיעור בחייזרית

  - form_for @participant, :url => experiments_url, :html => { :class => "new_participant ajax_submit" } do |f|
    
    %ol
      %li
        %p הרכיבו אוזניות והאזינו למילת הפתיחה:
    
        .intro_inputs
          %strong לחצו להשמעה:
          %span#volume_test.linkish נגן
      
          %fieldset.perception
            = f.label :experiment, "מה שמעתם? ", :class => "strong"
            = f.text_field :perception

      %li{ :style => 'display:none;'}
        %p Copy this code and paste it in your task:
  
        .intro_inputs{ :style => 'display:none;'}
          %fieldset.name
            %label.strong Your ID:
            %span.static_form_field= @participant.code
            = f.hidden_field :code
          %fieldset.experiment_type{ :style => "display: #{@participant.experiment_type.nil? ? 'block' : 'none'};" }
            = f.label :experiment, "Experiment type: ", :class => "strong"
            = radio_button(:participant, :experiment_type, :variable)
            = f.label(:variable, "Variable")
            = radio_button(:participant, :experiment_type, :fixed)
            = f.label(:fixed, "Fixed")
            = radio_button(:participant, :experiment_type, :hebrew)
            = f.label(:hebrew, "Hebrew")

      %li
        %p צאו לדרך!

        .intro_inputs
          %fieldset.submit= submit_tag "לדף הבא &raquo;", :disabled => 'disabled'