       
- f.fields_for :stems, item do |stem_form|
  = stem_form.hidden_field :id
  = stem_form.hidden_field :experiment_phase
  = stem_form.hidden_field :display_order

  - content_tag_for :li, item do
    .display_order= item.display_order
    .singular.item_text{ :data_sound => item.singular }
      This is a
      %span.item_strong= item.singular
      %br
      = image_tag item.clipart.singular_file, :width => "75"
    
    .plural.item_text{ :data_sound => item.plural }
      and these are
      - if item.experiment_phase == 'testing'
        = stem_form.text_field :response
      - else
        %span.item_strong= item.plural
      %br
      = (image_tag item.clipart.plural_file, :width => "75", :class => "plural_img") * 3