- content_tag_for(:li, item) do
  .display_order= item.display_order
  .singular.item_text
    This is a
    %strong= item.singular
    %br
    = image_tag item.clipart.singular_file, :width => "75"
    
  .plural.item_text
    and these are
    %strong= item.plural
    %br
    = (image_tag item.clipart.plural_file, :width => "75", :class => "plural_img") * 3
  