!!! 5
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title figAGL-01
    = javascript_include_tag 'jquery-1.4.2.min', 'soundmanager2-jsmin', 'application'
    = stylesheet_link_tag 'application'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie'
    
  %body
    %h1= link_to "Artificial Grammar Learning", root_url
    - if flash[:message]
      #flash= flash[:message]
    #main= yield
    #footer= "&copy; 2010 #{ link_to 'Phonologist.org', 'http://phonologist.org', :target => :blank }"