!!! 5
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title Harvard language study
    = javascript_include_tag 'jquery-1.4.2.min', 'soundmanager2-jsmin', 'application'
    = stylesheet_link_tag 'application'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie'
    
  %body
    / %h1 Artificial Grammar Learning
    - if flash[:message]
      #flash= flash[:message]
    #main
      = yield
    #footer
      - if current_user
        = link_to 'results', results_url
        &sdot;
        = link_to 'pardigms', paradigms_url
        &sdot;
        = link_to 'log out', logout_url
      %span.copy= "&copy; 2010 Phonologist.org"